<template>
    <div>
        <div class="row">
            <div class="col-md-6">
                <br />
                <br />
                <h4>Create new data</h4>
                <br />
                <!-- prevent form submit untuk reload halaman, kemudian memanggil function addData() -->
                <form @submit.prevent="addData()" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>First name</label>
                        <input
                            type="textfield"
                            class="form-control"
                            placeholder="Input first name..."
                            v-model="form.firstName"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label>Last name</label>
                        <input
                            type="textfield"
                            class="form-control"
                            placeholder="Input last name..."
                            v-model="form.lastName"
                        />
                    </div>
                    <div class="form-group">
                        <label>Language</label>
                        <input
                            type="textfield"
                            class="form-control"
                            placeholder="Input programming language..."
                            v-model="form.language"
                        />
                    </div>
                    <div class="large-12 medium-12 small-12 cell">
                        <label
                            >Upload a portfolio file
                            <br />
                            <input
                                type="file"
                                id="upload"
                                ref="upload"
                                v-on:change="handleFileUpload()"
                            />
                        </label>
                    </div>
                    <br />
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            form: {
                firstName: "",
                lastName: "",
                language: ""
            }
        };
    },
    methods: {
        addData() {
            // post data ke api menggunakan axios
            axios
                .post("/api/person", {
                    first_name: this.form.firstName,
                    last_name: this.form.lastName,
                    language: this.form.language
                })
                .then(response => {
                    // push router ke read data
                    this.$router.push("/");
                });
        }
    }
};
</script>
