<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">SKYNOSOFT</a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto"></ul>
                <form class="form-inline my-2 my-lg-0">
                    <input
                        class="form-control mr-sm-2"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                    />
                    <button
                        class="btn btn-outline-success my-2 my-sm-0"
                        type="submit"
                    >
                        Search
                    </button>
                </form>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-12">
                <br />
                <br />
                <div class="row">
                    <div class="col-md-10">
                        <h4>Section Title</h4>
                    </div>
                    <div class="col-md-2">
                        <!-- push router ke form membuat data -->
                        <router-link class="btn btn-primary w-100" to="/create"
                            >+ Tambah</router-link
                        >
                    </div>
                </div>
                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Language</th>
                            <th scope="col">Upload</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- menampilkan data ke table -->
                        <tr v-for="person in persons" :key="person.id">
                            <td>{{ person.first_name }}</td>
                            <td>{{ person.last_name }}</td>
                            <td>{{ person.language }}</td>
                            <td>{{ person.upload }}</td>
                            <td style="width:20%">
                                <router-link
                                    class="btn btn-warning"
                                    :to="'/detail/' + person.id"
                                    >Edit</router-link
                                >
                                <button
                                    class="btn btn-danger"
                                    v-on:click="deleteData(person.id)"
                                    onClick="return confirm('Yakin mau dihapus')"
                                >
                                    Hapus
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
//untuk live search
export default {
    name: "Person",
    props: ["person"]
};
</script>
