<template>
    <div>
        <div class="row">
            <div class="col-md-6">
                <br />
                <br />
                <h4>Update data</h4>
                <br />
                <!-- prevent form submit untuk reload halaman, kemudian memanggil function updateData() -->
                <form @submit.prevent="updateData()">
                    <div class="form-group">
                        <label>First name</label>
                        <input
                            type="textfield"
                            class="form-control"
                            placeholder="Input your first name..."
                            v-model="form.firstName"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label>Last name</label>
                        <input
                            type="textfield"
                            class="form-control"
                            placeholder="Input your last name..."
                            v-model="form.lastName"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label>Language</label>
                        <input
                            type="textfield"
                            class="form-control"
                            placeholder="Input your language..."
                            v-model="form.language"
                            required
                        />
                    </div>
                    <div class="large-12 medium-12 small-12 cell">
                        <label
                            >Change a portfolio file
                            <br />
                            <input
                                type="file"
                                id="upload"
                                ref="upload"
                                v-on:change="handleFileUpload()"
                            />
                        </label>
                    </div>
                    <br />
                    <button class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            form: {
                firstName: "",
                lastName: "",
                language: ""
            }
        };
    },
    created() {
        // load data saat pertama kali halaman dibuka
        this.loadData();
    },
    methods: {
        loadData() {
            // load data berdasarkan id
            axios.get("/api/person/" + this.$route.params.id).then(response => {
                // post value yang dari response ke form
                this.form.firstName = response.data.first_name;
                this.form.lastName = response.data.last_name;
                this.form.language = response.data.language;
            });
        },
        updateData() {
            // put data ke api menggunakan axios
            axios
                .put("/api/person/" + this.$route.params.id, {
                    first_name: this.form.firstName,
                    last_name: this.form.lastName,
                    language: this.form.language
                })
                .then(response => {
                    // push router ke read data
                    this.$router.push("/");
                });
        }
    }
};
</script>
